{{define "index"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card Counting Trainer</title>
  </head>
  <body>
    <div id="trainer-section">
      {{template "training-settings" .Settings}}
      <button
        id="start-button"
        hx-get="/training/start"
        hx-target="trainer-section"
        hx-include="#num-deck-input"
      >
        Start
      </button>
    </div>
  </body>
</html>
{{end}}
